In [2]:
import numpy as np
import pandas as pd

In [3]:
values = np.array([1, None, 3, 4])
values

array([1, None, 3, 4], dtype=object)

In [6]:
for dtype in ['object', 'int']:
    print("dtype=", dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()
dtype = object

dtype= object
43.8 ms ± 1.63 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype= int
1.59 ms ± 48.9 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [7]:
values.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [8]:
values2 = np.array([1, np.nan, 3, 4])
values2.dtype

dtype('float64')

In [9]:
1 + np.nan

nan

In [10]:
values2.sum(), values2.min(), values2.max()

(nan, nan, nan)

In [12]:
np.nansum(values2), np.nanmin(values2), np.nanmax(values2)

(8.0, 1.0, 4.0)

In [13]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [15]:
x = pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int32

In [16]:
x[0] = None
x

0    NaN
1    1.0
dtype: float64

In [17]:
data = pd.Series([1, np.nan, 'hello', None])

In [18]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [21]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [24]:
data.dropna()

0        1
2    hello
dtype: object

In [25]:
df = pd.DataFrame([[1, np.nan, 2],
                   [2, 3, 5],
                   [np.nan, 4, 6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [31]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [39]:
df = df.dropna(thresh=3)
df

     0    1  2
1  2.0  3.0  5

In [41]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [43]:
data.fillna(method='bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64